/* ckeditort-numbering/theme/numbering.css */

.numbering {
    background: none;
    padding: 4px 2px;
    outline-offset: -2px;
    line-height: 1em;
    margin: 0 1px;
}

.ck-widget_selected {
    background: #D3D3D3;
}